.card{
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
    gap: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 16px;
    font-weight: 700;
}

.header-input {
    font-size: 14px;
    font-weight: 400;
    border: 2px #DADADA solid;
}

