.editproperty-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

.editproperty-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    sp-textfield{
        width: 100%;
    }

    sp-action-button {
        width: 72px;
        --spectrum-icon-size: 20px;

    }
}