.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.9vh;
    border-bottom: 2px solid #E9E9E9;
}